body {
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

.content-footer,
.masthead-heading,
.masthead-intro {
	text-align: center;
}

.masthead {
	padding: 6em 0;
	background-image: url('http://i.imgur.com/jKITm9Y.jpg?1');
	background-repeat: no-repeat;
	background-size: cover;
	border-top: solid 1em #6a6870;
}

.masthead-intro {
	margin-bottom: 0.1em;
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 2em;
}

.masthead-heading {
	margin-top: -0.2em;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: bold;
	font-size: 6em;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	text-shadow: 0px 3px 0px #6a6870;
}

.introduction-section,
.location-section,
.questions-section {
	max-width: 38em;
	margin-left: auto;
	margin-right:auto;
	margin-top: 2em;
}

.social > li {
    display: inline-block;
}

a {
    font-weight: bold;
    color: #5590E2;
}

a:hover {
  color: #A9D0FD;
}

.content-footer {
    background-color: #6a6870;
    padding: 4em 0;
    color: white;
}

.introduction > p,
.location > p,
.content-footer > p {
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
}

.section > h1 {
	margin-top: 2em;
  font-weight: bold;
}

@media only screen and (max-width: 736px) {
    .masthead-heading {
        font-size: 3em;
    }
}

@media only screen and (max-width: 736px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
}

@media only screen and (max-width: 736px) {
    .content-footer {
        padding: 6em 0;
    }
    .content-footer p {
        font-size: 3em;
    }
}
